


/* imports google fonts embed */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');

/*variables for the webstie*/

:root{
    --primary: rgb(123, 75, 45);
--light: rgb(#ffffff);
--dark: rgb(54, 48, 45);
--mute: rgb(226, 205, 192);

--font-normal: roboto, Arial, sans-serif;
--font-heading: 'Noto Serif', serif;

--space-0: 0; /*0px */
--space-1: 0.5rem; /* 8px*/
--space-2: 1rem; /*16px*/
--space-3: 2rem; /*32px*/

}






/* CSS reset */
*{
    margin: 0;
    padding: 0;

}


body{
    font-family: var(--font-normal);
    line-height: 1.5;


}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}



/************************ COLOURS **************************/

.btn {
    border: none;
    border-radius: var(--space-2);
    padding: var(--space-1) var(--space-2);
    cursor: pointer;  /* cursor wait makes it crash ;) */
}


.btn-primary{
    background-color: var(--primary);
    color: var(--light);
}
    
.btn-secondary{
    background-color: var(--mute);
    color: var(--dark);

}

.link{
    color: var(--primary);
    text-decoration: underline;
}


/************************ COLOURS **************************/
.bg-primary {background-color: var(--primary);}
.bg-light {background-color: var(--light);}
.bg-dark {background-color: var(--dark);}
.bg-mute {background-color: var(--mute);}



.text-primary {color: var(--primary);}
.text-light {color: var(--light);}
.text-dark {color: var(--dark);}
.text-mute {color: var(--mute);}


/************************ LAYOUT **************************/


.d-flex {display: flex;}


.flex-between {justify-content : space-between}
.grid-Zcol {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*repeat 1fr twice*/
}





/************************ SPACING **************************/

.m-0 { margin: var(--space-0);}
.m-1 { margin: var(--space-1);}
.m-2 { margin: var(--space-2);}
.m-3 { margin: var(--space-3);}


.p-0 { padding: var(--space-0);}
.p-1 { padding: var(--space-1);}
.p-2 { padding: var(--space-2);}
.p-3 { padding: var(--space-3);}

.gap-0 { gap: var(--space-0);}
.gap-1 { gap: var(--space-1);}
.gap-2 { gap: var(--space-2);}
.gap-3 { gap: var(--space-3);}

/************************ SWATCHES **************************/
.swatches{
    display: flex; /* ORGANIZE CHILD ELEMENTS IN A LINE*/
}


.swatch .swatch-value {
    width: 4rem; /* em - Root font size (16px) */
    aspect-ratio: 1/1;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name {
    text-align: center;
}

