


/* imports google fonts embed */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');

/*variables for the webstie*/

:root{
    --primary: rgb(123, 75, 45);
--light: rgb(#ffffff);
--dark: rgb(54, 48, 45);
--mute: rgb(226, 205, 192);

--font-normal: roboto, Arial, sans-seriff
--font-heading: 'Noto serif', serif;

--space-0: 0; /*0px */
--space-1: 0.5rem; /* 8px*/
--space-2: 1rem; /*16px*/
--space-3: 0.2rem; /*32px*/

}






/* CSS reset */
*{
    margin: 0;
    padding: 0;

}


body{
    font-family: Roboto, Arial,sans-serif;
    line-height: 1.5;


}
h1,h2,h3,h4,h5,h6{
    font-family: "Noto serif,serif";
    margin-bottom: 0.5rem;
}


/************************ COLOURS **************************/
.bg-primary {background-color: var(--primary);}
.bg-light {background-color: var(--light);}
.bg-dark {background-color: var(--dark);}
.bg-mute {background-color: var(--mute);}



.text-primary {color: var(--primary);}
.text-light {color: var(--light);}
.text-dark {color: var(--dark);}
.text-mute {color: var(--mute);}

/************************ SWATCHES **************************/
.swatches{
    display: flex; /* ORGANIZE CHILD ELEMENTS IN A LINE*/
    gap: 1rem;

}


.swatch .swatch-value {
    width: 4rem; /* em - Root font size (16px) */
    aspect-ratio: 1/1;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name {
    text-align: center;
}

