/* CSS reset */
*{
    margin: 0;
    padding: 0;

}


body{
    line-height: 1.5;


}


/************************ COLOURS **************************/
.bg-primary {background-color: rgb(123, 75, 45);}
.bg-light {    background-color: rgb(#ffffff);}
.bg-dark {    background-color: rgb(54, 48, 45);}
.bg-muted {    background-color: rgb(226, 205, 192);}




/************************ SWATCHES **************************/
.swatchs{
    display: flex; /* ORGANIZE CHILD ELEMENTS IN A LINE*/
    gap: 1rem;

}


.swatch .swatch-value {
    width: 4rem; /* em - Root font size (16px) */
    height: 4rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name {
    text-align: center;
}