


/* imports google fonts embed */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');


/* CSS reset */
*{
    margin: 0;
    padding: 0;

}


body{
    font-family: Roboto, Arial,sans-serif;
    line-height: 1.5;


}
h1,h2,h3,h4,h5,h6{
    font-family: "Noto serif,serif";
    margin-bottom: 0.5rem;
}


/************************ COLOURS **************************/
.bg-primary {background-color: rgb(123, 75, 45);}
.bg-light {    background-color: rgb(#ffffff);}
.bg-dark {    background-color: rgb(54, 48, 45);}
.bg-muted {    background-color: rgb(226, 205, 192);}



.text-primary {color: rgb(123, 75, 45);}
.text-light {    color: rgb(#ffffff);}
.text-dark {    color: rgb(54, 48, 45);}
.text-muted {    color: rgb(226, 205, 192);}

/************************ SWATCHES **************************/
.swatches{
    display: flex; /* ORGANIZE CHILD ELEMENTS IN A LINE*/
    gap: 1rem;

}


.swatch .swatch-value {
    width: 4rem; /* em - Root font size (16px) */
    aspect-ratio: 1/1;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name {
    text-align: center;
}

